<main style="flex-direction: row; display: flex;">

  <nav *ngIf="nowPath!=='/'">
    <div class="navbar-container">


      <div style=" width: 100%;margin-top: 15px;">
        <img src="images/logo.png" style="width: 100%; height: 100%;">

      </div>



      <div class="box">
        <div *ngFor="let item of navName; let i = index" [ngClass]="navFocus === item ? 'icon-box-focus':'icon-box'"
          (click)="changeNav(item)">

          <div style="width: 15%; height: 100%; justify-content: center; display: flex;align-items: center;">
            <svg viewBox="0 0 24 24" width="70%" height="70%" [attr.fill]="navFocus === item ? '#fff' : '#32312f'">
              <path [attr.d]="navSrcImg[i]"></path>
            </svg>

          </div>

          <label style="margin-left: 15px; cursor: pointer;">{{ item }}</label>

        </div>


      </div>


    </div>
  </nav>

  <div #msg *ngIf="getChat().notnull" cdkDrag class="msg">

    <section id="header">
      <div
        style="flex-direction: row; display: flex; justify-content: space-between;align-items: center; gap: 10px; position: relative;">

        <div style="flex-direction: row; display: flex; gap: 10px; width: auto;">
          <div style="width: 40px; height: 40px; cursor: pointer;" (click)="toggleexpand()">
            <svg viewBox="0 0 24 24" width="100%" height="100%" style="fill: #1371b9;">
              <path [attr.d]="getimg('msg')"></path>
            </svg>
          </div>

          <div
            style="font-size: 18px; font-weight: 600; justify-content: center; align-items: center; display: flex; flex-direction: row;">
            {{getChatName().data[0]}}

            <div *ngIf="getChatName().isroom && !ismsg"
              style="margin-left: 20px;font-size: 16px; color: #ce3a3a;padding-top: 3px;">
              {{getChatName().data[1]}}
            </div>
          </div>
        </div>

        <div style="flex-direction: row; display: flex;">
          <div class="invitefriend" (click)="sendinvite()">
            <img src="images/icons/adduser.png" style="width: 100%; height: 100%;">
          </div>

          <button *ngIf="!ismsg" (click)="toggleexpand()" class="hidebutton">−</button>
          <button *ngIf="!ismsg" (click)="deletechat()" class="deletebutton">x</button>

        </div>



      </div>

    </section>

    <section id="chat message" *ngIf="!ismsg">
      <div *ngIf="!invite" #chatmsg
        style="width: 100%; height: 39vh; background-color: #fff; flex-direction: column; display: flex;overflow-y: auto; border-radius: 10px;">

        <section id="friend chat">

          <div *ngIf="getChat().type==='friend'">
            <div *ngFor="let chat of friendchatList">

              <div *ngIf="isyourself(chat.sender_id)"
                style="flex-direction: row; display: flex; align-items: center; margin-right: 5px;">

                <div class="chat-right">
                  {{ chat.chatmessage }}
                  <div style=" font-size: 12px; position: absolute; bottom: 0; left: -33px;">
                    {{getTime(chat.send_time)}}
                  </div>
                </div>

              </div>

              <div *ngIf="!isyourself(chat.sender_id)"
                style="flex-direction: row; display: inline-flex; align-items: center; padding-left: 5px;">
                <div
                  style="width: 38px; height: 38px; background-color: #27ca66; border-radius: 50%; margin-bottom: 10px;">

                </div>

                <div class="chat-left">
                  <div style="text-align: start; display: flex;">
                    {{ chat.chatmessage }}

                  </div>
                  <div style=" font-size: 12px; position: absolute; bottom: 0; right: -30px;">
                    {{getTime(chat.send_time)}}
                  </div>

                </div>
              </div>

            </div>


          </div>

        </section>

        <section id="room chat">
          <div *ngIf="getChat().type==='room'">

            <div *ngFor="let chat of roomchatList">

              <div *ngIf="isyourself(chat.sender_id)"
                style="flex-direction: row; display: flex; align-items: center; margin-right: 5px;">

                <div class="chat-right">
                  {{ chat.chatmessage }}
                  <div style=" font-size: 12px; position: absolute; bottom: 0; left: -33px;">
                    {{getTime(chat.send_time)}}
                  </div>
                </div>

              </div>

              <div *ngIf="!isyourself(chat.sender_id)"
                style="flex-direction: row; display: inline-flex; align-items: center; padding-left: 5px;">
                <div
                  style="width: 38px; height: 38px; background-color: #27ca66; border-radius: 50%; margin-bottom: 10px;">

                </div>

                <div class="chat-left">
                  <div style="text-align: start; display: flex;">
                    {{ chat.chatmessage }}

                  </div>
                  <div style=" font-size: 12px; position: absolute; bottom: 0; right: -30px;">
                    {{getTime(chat.send_time)}}
                  </div>

                </div>
              </div>

            </div>


          </div>

        </section>


      </div>

      <div *ngIf="invite"
        style="width: 100%; height: 39vh; background-color: #ffffff; flex-direction: column; display: flex;overflow-y: auto;position: relative;">
        <button style="position: absolute; left: 0; padding: 3px;" (click)="backinvite()">Back</button>


        <div *ngFor="let i of allfriends">

          <div
            style=" height: 40px; background-color: #d3d3d3; flex-direction: row; display: flex; padding: 10px; align-items: center; gap: 30px; justify-content: center;">

            <div style="flex-direction: row;display: flex;gap: 10px; align-items: center;">
              <div
                style=" background-color: #f2f2f2; width: 45px; height: 45px; border-radius: 50%; align-items: center; justify-content: center; display: flex;">
                <img [src]="'http://localhost:4000/uploads/' + i.profile + '.png'" style="width: 70%; height: 70%;">
              </div>

              <div>{{i.friend_name}}</div>

            </div>


            <div *ngIf="inroom(i.friend_id)">
              <div
                style="background-color: #2ec029; padding: 5px; border-radius: 5px; box-shadow: 0px 6px 10px  rgba(60, 143, 65, 0.5);">
                Joined</div>
            </div>

            <div *ngIf="!inroom(i.friend_id)">
              <div
                style="background-color: #51a7ed; padding: 5px; cursor: pointer;border-radius: 5px; box-shadow: 0px 6px 10px  rgba(79, 129, 196, 0.5);">
                Add</div>
            </div>





          </div>

        </div>


      </div>


    </section>

    <section id="send message" *ngIf="!ismsg">
      <div style="flex-direction: row; display: flex;align-items: center; position: relative;">
        <input type="text" placeholder="type a message" [(ngModel)]="chatMessage"
          (keyup.enter)="sendMessage(chatMessage)">

        <div
          style="width: 40px; height: 40px; cursor: pointer; position: absolute; right: 5px; justify-content: center; align-items: center; display: flex;"
          (click)="toggleexpand()">
          <svg viewBox="0 0 24 24" width="70%" height="70%" style="fill: #1371b9;">
            <path [attr.d]="getimg('send')"></path>
          </svg>
        </div>

      </div>

    </section>






  </div>

  <router-outlet></router-outlet>

</main>


<style>
  .navbar-container {
    height: 100vh;
    width: 16vw;
    background-color: #fcfefd;
    flex-direction: column;
    display: flex;
    border-right: solid 1px #dadada;


    & .box {
      flex-direction: column;
      align-items: center;
      display: flex;
      width: 100%;
      height: 50%;
      padding-top: 40px;

      & .icon-box {
        width: 90%;
        height: 15%;
        flex-direction: row;
        align-items: center;
        display: flex;
        cursor: pointer;
        padding-left: 20px;
        box-sizing: border-box;
        color: #32312f;
      }

      & .icon-box-focus {
        width: 90%;
        height: 15%;
        flex-direction: row;
        align-items: center;
        display: flex;
        cursor: pointer;
        background-color: #32312f;
        color: #fff;
        border-radius: 10px;
        padding-left: 20px;
        box-sizing: border-box;

      }
    }

  }

  .msg {
    background: #90caf9;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;

    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 24.7vw;
    height: 25vw;
  }

  .msg.expand {
    width: 100px;
    height: 50px;
    padding: 10px;
  }

  .msg input {
    width: 100%;
    height: 4vh;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }

  .chat-right {
    position: relative;
    background-color: #a0e7e5;
    margin: 5px;
    padding: 10px;
    max-width: 60%;
    margin-left: auto;

    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;

  }

  .chat-left {
    position: relative;
    background-color: #eee;
    margin: 5px;
    padding: 10px;
    max-width: 80%;
    margin-right: auto;

    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;
    flex-direction: row;
    display: flex;
  }

  .invitefriend {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
  }

  .invitefriend :hover {
    background-color: #aad6fb;
  }

  .hidebutton {
    border: none;
    background-color: #90caf9;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
  }

  .hidebutton:hover {
    /* transform: scale(1.2); */
    background-color: #aad6fb;
  }

  .deletebutton {
    border: none;
    background-color: #90caf9;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
  }

  .deletebutton:hover {
    /* transform: scale(1.2); */
    background-color: #aad6fb;
    /* color: red; */
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;

  }
</style>