<aside class="right-side">

    <!-- <button (click)="c()">test expand</button> -->
    <!-- <div *ngIf="isshowtask">
        <label for="">title: {{showtask.get('title')}}</label>

    </div> -->

    <div
        style="flex-direction: column;; display: flex; background-color: #90b9ff; width: 50px; height: 100%; position: absolute;top:0;">
        <div *ngFor="let tab of tabTask; let i = index; trackBy: trackByIndex"
            [ngStyle]="{ 'background-color': tabFocus === tab ? '#d5d5d5' : '#ffffff', 'border-right' : tabFocus === tab ? 'solid red' : '', 'box-sizing': 'border-box' }"
            (click)="changeTab(tab)"
            style=" width: 100%; height: 50px; background-color: #d5d5d5; cursor: pointer; justify-content: center; align-items: center; display: flex;">
            <svg viewBox="0 0 24 24" width="70%" height="70%">
                <path [attr.d]="tabImg[i]"></path>
            </svg>

        </div>
    </div>

    <div *ngIf="this.tabFocus==='searchfriend'"
        style="  width: 100%; height: 50%; padding-left: 50px; box-sizing: border-box; flex-direction: column; display: flex;">
        <div
            style="flex-direction: row; display: flex;  background-color: #90b9ff; position: relative; width: 100%; height: 40px;">

            <div
                style="width: 50px; height: 100%; background-color: #f1f1f1; justify-content: center; align-items: center; display: flex;">
                <img src="images/icons/search.png" style="width: 80%; height: 80%;">
            </div>

            <input type="text" name="" id="" placeholder="search friend name" style="width: 100%; border: none;">


            <div
                style="width: 50px; height: 100%; background-color: #f1f1f1; justify-content: center; align-items: center; display: flex;">
                <img src="images/icons/send.png" style="width: 70%; height:70%; ">
            </div>

        </div>

        <div
            style="flex-direction: column; display: flex; width: 100%; height: 100%; background-color: #edbb5e; margin-top: 20px; gap: 5px;">
            <div *ngFor="let friend of alluser; let i = index ; trackBy:trackByIndex"
                style="background-color: #fff; width: 100%; height: 50px; flex-direction: row; display: flex; align-items: center; display: flex; position: relative; gap: 15px;">
                <div style=" background-color: #27ca66; width: 45px; height: 45px; border-radius: 50%">

                </div>

                <div> {{ friend.username }} </div>

                <button (click)="sendfriendrequest(friend)" style="position: absolute; right: 20px;">{{
                    friend.status ==='pending'? 'requested':'follow'}}</button>

            </div>


        </div>




    </div>

    <div *ngIf="this.tabFocus==='request'"
        style="  width: 100%; height: 50%; padding-left: 50px; box-sizing: border-box; flex-direction: column; display: flex;">

        <div style="justify-content: center; align-items: center; display: flex;">
            request

        </div>

        <div
            style="flex-direction: column; display: flex; width: 100%; height: 100%; background-color: #edbb5e; margin-top: 20px; gap: 5px;">
            <div *ngFor="let req of allrequest; let i = index ; trackBy:trackByIndex"
                style="background-color: #fff; width: 100%; height: 50px; flex-direction: row; display: flex; align-items: center; display: flex; position: relative; gap: 15px;">
                <div style=" background-color: #27ca66; width: 45px; height: 45px; border-radius: 50%">

                </div>



                <div> {{ req.to_username }} </div>

                <div style="position: absolute; right: 20px; flex-direction: row; display: flex; gap: 5px;">
                    <button (click)="responseRequest(req, 'accept')">accept</button>
                    <button (click)="responseRequest(req, 'cancel')">cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.tabFocus==='chat_room'"
        style="  width: 100%; height: 50%; padding-left: 50px; box-sizing: border-box; flex-direction: column; display: flex;">

        <div style="justify-content: center; align-items: center; display: flex;">
            friend
        </div>

        <div
            style="flex-direction: column; display: flex; width: 100%; height: 100%; background-color: #edbb5e; margin-top: 20px; gap: 5px;">
            <div *ngFor="let friend of allfriends; let i = index ; trackBy:trackByIndex" (click)="changeChat(friend)"
                style="background-color: #fff; width: 100%; height: 50px; flex-direction: row; display: flex; align-items: center; display: flex; position: relative; gap: 15px; cursor: pointer;">
                <div style=" background-color: #27ca66; width: 45px; height: 45px; border-radius: 50%">

                </div>


                <div> {{ friend.friend_name }} </div>

                <div style=" width: 45px; height: 45px; position: absolute; right: 20px;">
                    <img src="images/icons/message.png" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
    </div>





    <div class="chat-container">
        <div class="top">
            {{this.chat_now.friend_name}}

        </div>

        <div class="mid" #midBox>

            <div *ngFor="let chat of chatList">

                <div *ngIf="chat.fromSelf"
                    style="flex-direction: row; display: flex; align-items: center; margin-right: 5px;">

                    <div class="chat-right">
                        {{ chat.message }}
                        <div style=" font-size: 12px; position: absolute; bottom: 0; left: -33px;">
                            {{chat.time}}
                        </div>


                    </div>

                </div>

                <div *ngIf="!chat.fromSelf"
                    style="flex-direction: row; display: inline-flex; align-items: center; padding-left: 5px;">
                    <div
                        style="width: 38px; height: 38px; background-color: #27ca66; border-radius: 50%; margin-bottom: 10px;">

                    </div>

                    <div class="chat-left">
                        <div style="text-align: start; display: flex;">
                            {{ chat.message }}

                        </div>
                        <div style=" font-size: 12px; position: absolute; bottom: 0; right: -30px;"> {{chat.time}}
                        </div>

                    </div>

                </div>



            </div>

        </div>

        <div class="bottom">
            <input type="text" placeholder="Type a message" [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()">
        </div>

    </div>

</aside>

<style>
    .right-side {
        width: 22vw;
        height: 95.5%;
        background-color: rgb(235, 173, 152);
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        position: relative;
        flex-direction: column;
        display: flex;

        & .chat-container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
            background-color: rgb(146, 255, 170);

            & .mid {
                flex-direction: column;
                display: flex;
                justify-content: flex-start;
                background-color: #91fdff;
                width: 100%;
                height: 72%;
                overflow-y: auto;

                & .chat-right {
                    position: relative;
                    background-color: #a0e7e5;
                    margin: 5px;
                    padding: 10px;
                    max-width: 60%;
                    margin-left: auto;

                    border-radius: 20px 0px 20px 20px;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                    word-wrap: break-word;
                    word-break: break-word;
                    text-align: left;

                }
            }

            & .chat-left {
                position: relative;
                background-color: #eee;
                margin: 5px;
                padding: 10px;
                max-width: 80%;
                margin-right: auto;

                border-radius: 0px 20px 20px 20px;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                word-wrap: break-word;
                word-break: break-word;
                text-align: right;
                flex-direction: row;
                display: flex;
            }



            & .top {
                width: 100%;
                height: 14%;
                background-color: #f8a8ff;
                justify-content: center;
                align-items: center;
                display: flex;
            }


            & .bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 14%;
            }

            & .bottom input {
                width: 100%;
                height: 100%;
            }
        }

    }


    /* .right-side.expand {
            width: 10%;
        } */
</style>