<div class="container">
    <div style="flex-direction: column; display: flex; width: 100%; height: 100%;">

        <section id="title">

            <div style="flex-direction: row; display: flex; width: 55.3vw; background-color: #fff;box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
                margin: 15px; justify-content: space-between; align-items: center; border-radius: 30px; padding: 5px;">


                <div style="flex-direction: row; display: flex; gap: 10px; padding-left: 20px;">
                    <div style="font-weight: bold; font-size: 30px;"> {{getTodayString()[0]}}, </div>
                    <div style="font-weight: bold; font-size: 30px;"
                        [ngStyle]="{'color': weekdays.get(getTodayString()[1])}"> {{getTodayString()[1]}} </div>

                </div>

                <div style="flex-direction: row; display: flex; gap: 10px; align-items: center;">

                    <div style=" font-size: 18px; font-weight: bold;">Hello{{', '+username}}</div>

                    <div
                        style="background-color: #ddf4ff; width: 50px; height: 50px; border-radius: 50%; justify-content: center; align-items: center; display: flex;">
                        <img [src]="'http://localhost:4000/uploads/' + profile + '.png'"
                            style="width: 70%; height: 70%;">

                    </div>

                </div>

            </div>

        </section>


        <section id="show box">

            <div style="flex-direction: row; display: flex; width: 55.2vw; 
                margin: 15px; justify-content: space-between; align-items: center; padding: 5px">

                <div *ngFor="let task of showbox; let i = index">

                    <div
                        style="flex-direction: row; display: flex; gap: 20px; background-color: #fff; 
                        border-radius: 10px; padding: 10px; padding-left: 20px; padding-right: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); justify-content: center;">

                        <div
                            style="flex-direction: column; display: flex;justify-content: flex-start; margin-top: 8px;">

                            <div style="font-weight: bold; font-size: 28px;">{{showboxvalues[i]}}</div>
                            <div style="font-size: 16px;">{{task}}</div>

                        </div>

                        <div
                            style="width: 70px; height: 70px; background-color: #759dee; justify-content: center;align-items: center; border-radius: 50%;display: flex;">
                            <svg viewBox="0 0 24 24" width="40%" height="40%" style="fill:#fff">
                                <path [attr.d]="getimg(task)"></path>
                            </svg>

                        </div>

                    </div>


                </div>
            </div>

        </section>


        <section id="timeline">

            <div style="flex-direction: column; display: flex;">

                <div
                    style="flex-direction: row; display: flex; justify-content: space-between; width: 55.8vw; margin: 15px; margin-bottom: 0; align-items: center;">

                    <div style="font-size: 30px; font-weight: bold;">Timeline</div>

                    <div style="display: flex; flex-direction: row; justify-content: center;align-items: center;">

                        <div
                            style="width: 50px; height: 50px; justify-content: center; display: flex;align-items: center; cursor: pointer; ">
                            <svg viewBox="0 0 24 24" width="80%" height="80%" class="plus" (click)="goToAddPage()">
                                <path [attr.d]="getimg('plus')"></path>
                            </svg>

                        </div>

                        <div>Add New</div>

                    </div>

                </div>


                <div #scrollContainer
                    style="flex-direction: column; display: flex; background-color: #fff; max-width: 55.8vw; height: 54vh; position: relative;
                    gap: 5px; position: relative; border-radius: 10px;  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); overflow: auto; margin: 15px;">

                    <div id="all day of task"
                        style="display: flex; flex-direction: row; gap: 5px; margin-bottom: 10px; padding: 10px; padding-bottom: 0;z-index: 15; position: sticky;top: 0; background-color: #fff;">

                        <div *ngFor="let date of getArrayrange()"
                            [ngStyle]="{'background-color': today()=== date[0] ? '#a9ddf6':'#eee'}" #dayBox
                            [attr.date]="date[0]"
                            style="width: 70px; height: 40px; text-align: center;border-radius: 10px; flex-shrink: 0">

                            <div
                                style="flex-direction: row; display: flex; justify-content: center; align-items: center; gap: 5px;">

                                <div style="font-size: 30px; font-weight: bold;">{{ date[0] }}</div>

                                <div
                                    style="flex-direction: column; display: flex; justify-content: center; align-items: center;">
                                    <div style="font-size: 16px;">{{ date[1] }}</div>
                                    <div style="font-size: 10px;">{{ date[2] }}</div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div style="position: relative;">
                        <div style="flex-direction: column; display: flex; gap: 15px; z-index: 1;">

                            <div *ngFor="let task of alltasks; let i =index">

                                <div [ngStyle]="{'margin-left': getMarginLeft(i, task)}"
                                    style="flex-direction: row; display: flex; gap: 10px;">

                                    <div [style.width.px]="getDuration(task.start_time, task.end_time, task.detail)[0] * 73"
                                        class="timelinecolor" [ngStyle]="{'background-color': assignColor(i)[0]}">
                                        {{getDuration(task.start_time, task.end_time, task.detail)[3]===0 ? '0 %': ''}}

                                        <div [style.width.px]="getDuration(task.start_time, task.end_time, task.detail)[2] * 73"
                                            [ngStyle]="{'padding':getDuration(task.start_time, task.end_time, task.detail)[3]===0? '0':'5px' , 'background-color': assignColor(i)[1]}"
                                            class="timelinemaincolor">
                                            {{getDuration(task.start_time, task.end_time, task.detail)[3]===0 ? '':
                                            getDuration(task.start_time, task.end_time, task.detail)[3]+' %'}}
                                        </div>
                                    </div>

                                    <div>
                                        <div style="flex-direction: row; display: flex;">
                                            <div class="timelinetitle"
                                                [ngStyle]="{'background-color': isOverdue(task.end_time) ? '#e5e5e5' : '#4188c9','color': isOverdue(task.end_time) ? '#727272' : '#dbf1fe','box-shadow': isOverdue(task.end_time) ? '' : '0 4px 5px rgba(0, 0, 0, 0.3)'}">
                                                {{task.title}}

                                                <div *ngIf="task.type === 'team'"
                                                    style="flex-direction: row; display: flex; max-width: 70px; justify-content: center;">
                                                    <div *ngFor="let member of getMember(task.room_id)">

                                                        <div
                                                            style="background-color: rgb(255, 255, 255); width: 20px; height: 20px; border-radius: 50%;">
                                                            <img [src]="'http://localhost:4000/uploads/' + member + '.png'"
                                                                style="width: 100%; height: 100%;">
                                                        </div>


                                                    </div>
                                                </div>

                                                <div *ngIf="task.type === 'personal'"
                                                    style="flex-direction: row; display: flex; max-width: 70px; justify-content: center;">

                                                    <div
                                                        style="background-color: rgb(255, 255, 255); width: 20px; height: 20px; border-radius: 50%;">
                                                        <img [src]="'http://localhost:4000/uploads/' + userid + '.png'"
                                                            style="width: 100%; height: 100%;">
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>



    </div>


    <div style="position: absolute; right: 6.2vw; width: 20vw;flex-direction: column;
              display: flex; align-items: center; height: 100vh;">

        <section id="progress">

            <div
                style="background-color: #fff; width: 14vw;flex-direction: column;gap: 10px;box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            padding: 10px; border-radius: 10px; margin: 20px; display: flex; justify-content: center; align-items: center;">

                <div style="font-size: 25px; font-weight: bold;">Your Progress</div>

                <svg width="200" height="200" viewBox="0 0 42 42">
                    <circle cx="21" cy="21" r="15.9155" fill="none" stroke="#e0e0e0" stroke-width="3" />

                    <circle cx="21" cy="21" r="15.9155" fill="none" stroke="#4caf50" stroke-width="3"
                        [attr.stroke-dasharray]="totalpercent + ' ' + (100 - totalpercent)" stroke-dashoffset="0"
                        transform="scale(-1,1) translate(-42,0) rotate(-90, 21, 21)" />


                    <text x="21" y="24" text-anchor="middle" font-size="8" fill="#333">{{totalpercent}}%</text>
                </svg>

                <div style="flex-direction: row; display: flex; width: 100%; align-items: center; gap: 20px;">
                    <div style="flex-direction: row; display: flex; gap: 10px;">
                        <div style="background-color: #fce3f8; padding: 10px; border-radius: 10px;"> Total</div>
                        <div style="font-size: 30px; font-weight: 600;">{{totalcount}}</div>
                    </div>

                    <div style="flex-direction: row; display: flex; gap: 10px;">
                        <div style="background-color: #e3eafc; padding: 10px; border-radius: 10px;"> Overdue</div>
                        <div style="font-size: 30px; font-weight: 600;">{{totaloverdue}}</div>
                    </div>



                </div>

                <div style="flex-direction: row; display: flex; width: 100%; align-items: center; gap: 20px;">
                    <div style="flex-direction: row; display: flex; gap: 10px;">
                        <div style="background-color: #fcfce3; padding: 10px; border-radius: 10px;"> Done</div>
                        <div style="font-size: 30px; font-weight: 600;">{{totaldone}}</div>
                    </div>


                    <div style="flex-direction: row; display: flex; gap: 10px;">
                        <div style="background-color: #fceee3; padding: 10px; border-radius: 10px;"> Waiting</div>
                        <div style="font-size: 30px; font-weight: 600;">{{totalwaiting}}</div>
                    </div>

                </div>
            </div>


        </section>

        <section id="deadline">

            <div class="deadline">
                <div style="flex-direction: column; display: flex; gap: 10px;">
                    <div style="font-weight: bold; font-size: 20px;">Approaching deadline</div>

                    <div *ngFor="let task of deadlinetasks"
                        style="flex-direction: column; display: flex; overflow-y: auto;">
                        <div
                            style="flex-direction: row; display: flex; gap: 10px; justify-content: space-between; background-color: #e2f3ff; border-radius: 10px; padding: 5px; align-items: center;">
                            <div style="width: 100px; font-size: 18px; font-weight: 500;">
                                {{task.title}}</div>

                            <div style="flex-direction: column; display: flex;">
                                <div style=" display: flex;justify-content: flex-end;">{{ getPercent(task.detail)[0]}}%
                                </div>

                                <div> {{ getdayLeft(task.diffDays)}} </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>



    </div>

    <app-chat></app-chat>


</div>

<style>
    .container {
        width: 84vw;
        height: 100vh;
        flex-direction: row;
        display: flex;
        background-color: #f5f6f8;
        position: relative;

    }

    .plus {
        fill: rgb(71, 54, 227);
    }

    .plus:hover {
        transform: scale(1.1);
        fill: rgb(51, 29, 255);

    }

    .timelinecolor {
        height: 30px;
        color: white;
        border-radius: 20px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 5px;
        position: relative;
    }

    .timelinemaincolor {
        height: 30px;
        color: white;
        border-radius: 20px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        left: 0;
    }

    .timelinetitle {
        height: 30px;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 20px;
        padding: 5px;
        gap: 10px;
    }

    .deadline {
        background-color: #fff;
        width: 14vw;
        height: 17.9vw;
        overflow-y: auto;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }


    ::-webkit-scrollbar {
        width: 0;
    }
</style>